{% load static %}
<footer class="container" id="footer">
	<div class="footer-items">
		<div class="footer-item footer-title">
			<div class="footer-header">
			  <img src="{% static 'images/dadvantech-logo.png' %}" alt="Logo" />
			</div>
			<p>
			  We’re a tech-driven company offering professional digital services like
			  website and mobile app development, training, and strategic support. We
			  also recommend the best tools and tech products to boost your business or
			  personal productivity — all in one place.
			</p>
			<div class="social-items">
				<a href="https://wa.link/ve4c4i" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
				<a href="https://www.linkedin.com/company/d-advantech/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
				<a href="https://www.instagram.com/d_advantech" target="_blank"><i class="fa-brands fa-instagram"></i></a>
				<a href="https://x.com/d_advantech?s=21" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
				<a href="https://www.facebook.com/profile.php?id=61555526551014&mibextid=LQQJ4d" target="_blank"><i class="fa-brands fa-facebook"></i></a>
			</div>
		  </div>
		  <div class="footer-item footer-contact">
			<h3 class="footer-header">Contact Us</h3>
			<div class="contact-items">
				<p><span><i class="fa-solid fa-clock"></i></span>24/7</p>
				<p><span><i class="fa-solid fa-envelope"></i></span>info@dadvantech.com</p>
				<p><span><i class="fa-solid fa-phone"></i></span>+234 814 098 0792</p>
				<p><span><i class="fa-solid fa-location-dot"></i></span>Port Harcourt, Rivers State, Nigeria</p>
			</div>
		  </div>
		  <div class="footer-item quick-links">
			<h3 class="footer-header">Quick Links</h3>
			<div class="quick-link-items">
				<a href="#">Blog</a>
				<a href="#products">Digital Products</a>
				<a href="{% url 'digital_literacy' %}">Courses</a>
				<a href="#community">Community</a>
			</div>
		  </div>
	</div>
	<div class="credits">
		<p>&copy; D'AdvanTech Global Solutions Limited. All Rights Reserved</p>
	</div>
</footer>
