{% load static %}
<nav>
	<div class="nav-items">
		<div class="logo">
			<a href="#"><img src="{% static 'images/dadvantech-logo.png' %}" alt="Logo"></a>
		</div>
		<div class="nav-links" id="navLinks">
			<a href="#" class="nav-link">Home</a>
			<a href="#" class="nav-link">Services</a>
			<a href="#" class="nav-link">Products</a>
			<a href="#" class="nav-link">About</a>
			<a href="#" class="nav-link">Contact</a>
			<a href="#" class="nav-link">Community</a>
		</div>
		<button class="menu-toggle" id="menuToggle"><i class="fa-solid fa-bars"></i></button>
	</div>
</nav>