{% load static %}

<div class="products container-fluid" id="products">
  <div class="title">
    <h2>Our Products</h2>
    <p>
      We also recommend the best tools and tech products to boost your business
      or personal productivity
    </p>
  </div>
  <div class="product-items">
    <div class="product-card">
      <div class="product-img">
        <img
          src="{% static 'images/product-001.webp' %}"
          alt="1kVA Solar Generator"
        />
      </div>
      <div class="product-body">
        <h3>School Management System</h3>
        <p>
          A complete platform for managing students, staff, attendance, fees,
          results, communication, and e-learning modules — designed for primary,
          secondary, and tertiary institutions.
        </p>
        <!-- <p class="price"><i class="fa-solid fa-naira-sign"></i>260,000</p> -->
        <a
          href="https://wa.me/2348140980792?text=Hi%2C%20I%20want%20to%20order%20the%201kVA%20Solar%20Generator.%20My%20location%20is"
          class="btn btn-primary"
          target="_blank"
          >Order Now</a
        >
      </div>
    </div>
    <div class="product-card">
      <div class="product-img">
        <img
          src="{% static 'images/product-004.webp' %}"
          alt="1.5kVA Solar Generator"
        />
      </div>
      <div class="product-body">
        <h3>1.5kVA Solar Generator</h3>
        <p>
          1.5kVA Solar Generator + 1200W Battery + 2×180W Solar Panels + 30Ah
          Charge Controller.
        </p>
        <p class="price"><i class="fa-solid fa-naira-sign"></i>370,000</p>
        <a
          href="https://wa.me/2348140980792?text=Hi%2C%20I%20want%20to%20order%20the%201.5kVA%20Solar%20Generator.%20My%20location%20is"
          class="btn btn-primary"
          target="_blank"
          >Order Now</a
        >
      </div>
    </div>
    <div class="product-card">
      <div class="product-img">
        <img
          src="{% static 'images/product-003.webp' %}"
          alt="3kVA Solar Generator"
        />
      </div>
      <div class="product-body">
        <h3>3kVA Solar Generator</h3>
        <p>
          3kVA Solar Generator + 4000W Battery + 4×180W Solar Panels + Charge
          Controller.
        </p>
        <p class="price"><i class="fa-solid fa-naira-sign"></i>810,000</p>
        <a
          href="https://wa.me/2348140980792?text=Hi%2C%20I%20want%20to%20order%20the%203kVA%20Solar%20Generator.%20My%20location%20is"
          class="btn btn-primary"
          target="_blank"
          >Order Now</a
        >
      </div>
    </div>
    <div class="product-card">
      <div class="product-img">
        <img src="{% static 'images/product-pc.webp' %}" alt="Dell Latitude" />
      </div>
      <div class="product-body">
        <h3>Dell Latitude</h3>
        <p>Intel Core i5 Laptop | 8GB RAM | 512GB SSD | Full HD Display</p>
        <p class="price"><i class="fa-solid fa-naira-sign"></i>510,000</p>
        <a
          href="https://wa.me/2348140980792?text=Hi%2C%20I%20want%20to%20order%20the%20Dell%20Latitude%20PC.%20My%20location%20is"
          class="btn btn-primary"
          target="_blank"
          >Order Now</a
        >
      </div>
    </div>
  </div>
  <a
    href="{% url 'solar_generator' %}"
    target="_blank"
    class="btn btn-secondary"
    >Explore More</a
  >
</div>