{% extends "base.html" %} {% load static %} {% block content %}
<div
  class="container-fluid hero"
  style="background-image: url('static/images/hero-01.jpg')"
>
  <div class="overlay"></div>
  <div class="hero-content">
    <h1>We Distribute Digital Solutions & Tools to Power Your Growth</h1>
    <p>
      From building websites and mobile apps to connecting you with trusted tech
      products — d’AdvanTech Global Solutions equips individuals and businesses
      to thrive in the digital age
    </p>
    <a href="#" class="btn btn-primary">Contact Us</a>
  </div>
</div>
<div class="what-we-do">
  <div>
    <h2>What We Do</h2>
    <p>
      We’re a tech-driven company offering professional digital services like
      website and mobile app development, training, and strategic support. We
      also recommend the best tools and tech products to boost your business or
      personal productivity — all in one place.
    </p>
  </div>
</div>

<div class="stats container">
  <p class="stat-item">100+ Websites Built</p>
  <p class="stat-item">20+ Apps Developed</p>
  <p class="stat-item">50+ People Trained</p>
  <p class="stat-item">70+ Products Sold</p>
  <p class="stat-item">500+ Community Members</p>
</div>

<div class="services container">
  <div class="title">
    <h2>Our Services</h2>
    <p>
      We offer a wide range of digital solutions to help your business thrive in
      the digital age.
    </p>
  </div>
  <div class="service-items">
    <div class="service-card">
      <h3>Web Development</h3>
      <p>
        We craft responsive, visually appealing websites that deliver seamless
        user experiences across all devices, tailored to reflect your brand's
        identity and meet your specific business needs.
      </p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
    <div class="service-card">
      <h3>Web Development</h3>
      <p>
        We craft responsive, visually appealing websites that deliver seamless
        user experiences across all devices, tailored to reflect your brand's
        identity and meet your specific business needs.
      </p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
    <div class="service-card">
      <h3>Web Development</h3>
      <p>
        We craft responsive, visually appealing websites that deliver seamless
        user experiences across all devices, tailored to reflect your brand's
        identity and meet your specific business needs.
      </p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
    <div class="service-card">
      <h3>Web Development</h3>
      <p>
        We craft responsive, visually appealing websites that deliver seamless
        user experiences across all devices, tailored to reflect your brand's
        identity and meet your specific business needs.
      </p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
    <div class="service-card">
      <h3>Web Development</h3>
      <p>
        We craft responsive, visually appealing websites that deliver seamless
        user experiences across all devices, tailored to reflect your brand's
        identity and meet your specific business needs.
      </p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
  </div>
  <a href="#" class="btn btn-secondary">See More</a>
</div>
{% endblock content %}
