{% extends "base.html" %} {% load static %} {% block content %}
<div
  class="container-fluid hero"
  style="background-image: url('static/images/hero-01.jpg')"
>
  <div class="overlay"></div>
  <div class="hero-content">
    <h1>We Distribute Digital Solutions & Tools to Power Your Growth</h1>
    <p>
      From building websites and mobile apps to connecting you with trusted tech
      products — d’AdvanTech Global Solutions equips individuals and businesses
      to thrive in the digital age
    </p>
    <a href="#" class="btn btn-primary">Contact Us</a>
  </div>
</div>
<div class="what-we-do">
  <div>
    <h2>What We Do</h2>
    <p>
      We’re a tech-driven company offering professional digital services like
      website and mobile app development, training, and strategic support. We
      also recommend the best tools and tech products to boost your business or
      personal productivity — all in one place.
    </p>
  </div>
</div>

<div class="stats container">
  <p class="stat-item">100+ Websites Built</p>
  <p class="stat-item">20+ Apps Developed</p>
  <p class="stat-item">50+ People Trained</p>
  <p class="stat-item">70+ Products Sold</p>
  <p class="stat-item">500+ Community Members</p>
</div>

<div class="services container" id="services">
  <div class="title">
    <h2>Our Services</h2>
    <p>
      We offer a wide range of digital solutions to help your business thrive in
      the digital age.
    </p>
  </div>
  <div class="service-items">
    <div class="service-card">
      <h3>Web Development</h3>
      <p>
        We craft responsive, visually appealing websites that deliver seamless
        user experiences across all devices, tailored to reflect your brand's
        identity and meet your specific business needs.
      </p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
    <div class="service-card">
      <h3>Software Development</h3>
      <p>
        We develop custom software solutions that streamline operations, enhance
        productivity, and drive business growth, ensuring your organization
        stays ahead of the competition.
      </p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
    <div class="service-card">
      <h3>Mobile App Development</h3>
      <p>
        Our team creates user-friendly mobile applications for both Android and
        iOS platforms, focusing on functionality, performance, and user
        engagement to help you connect with your audience effectively.
      </p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
    <div class="service-card">
      <h3>Tech Live Courses</h3>
      <p>
        We offer expert-led live courses in various tech disciplines, equipping
        individuals and teams with the skills they need to excel in a rapidly
        changing digital landscape.
      </p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
    <div class="service-card">
      <h3>UI/UX Design</h3>
      <p>
        Our UI/UX design services emphasize creating intuitive and aesthetically
        pleasing interfaces, enhancing user satisfaction and engagement with
        your digital products.
      </p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
    <div class="service-card">
      <h3>Graphics Design</h3>
      <p>
        We provide professional graphic design services that visually
        communicate your brand message across all platforms, making a lasting
        impression on your audience.
      </p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </div>
  </div>
  <a href="#" class="btn btn-secondary">See More</a>
</div>

<div class="products container-fluid" id="products">
  <div class="title">
    <h2>Our Products</h2>
    <p>
      We also recommend the best tools and tech products to boost your business
      or personal productivity
    </p>
  </div>
  <div class="product-items">
    <div class="product-card">
      <div class="product-img">
        <img
          src="{% static 'images/product-001.webp' %}"
          alt="1kVA Solar Generator"
        />
      </div>
      <div class="product-body">
        <h3>1kVA Solar Generator</h3>
        <p>1kVA Solar Generator + 980W Battery + 180W Solar Panel.</p>
        <p class="price"><i class="fa-solid fa-naira-sign"></i>260,000</p>
        <a
          href="https://wa.me/2348140980792?text=Hi%2C%20I%20want%20to%20order%20the%201kVA%20Solar%20Generator.%20My%20location%20is"
          class="btn btn-primary"
          target="_blank"
          >Order Now</a
        >
      </div>
    </div>
    <div class="product-card">
      <div class="product-img">
        <img
          src="{% static 'images/product-004.webp' %}"
          alt="1.5kVA Solar Generator"
        />
      </div>
      <div class="product-body">
        <h3>1.5kVA Solar Generator</h3>
        <p>
          1.5kVA Solar Generator + 1200W Battery + 2×180W Solar Panels + 30Ah
          Charge Controller.
        </p>
        <p class="price"><i class="fa-solid fa-naira-sign"></i>370,000</p>
        <a
          href="https://wa.me/2348140980792?text=Hi%2C%20I%20want%20to%20order%20the%201.5kVA%20Solar%20Generator.%20My%20location%20is"
          class="btn btn-primary"
          target="_blank"
          >Order Now</a
        >
      </div>
    </div>
    <div class="product-card">
      <div class="product-img">
        <img
          src="{% static 'images/product-003.webp' %}"
          alt="3kVA Solar Generator"
        />
      </div>
      <div class="product-body">
        <h3>3kVA Solar Generator</h3>
        <p>
          3kVA Solar Generator + 4000W Battery + 4×180W Solar Panels + Charge
          Controller.
        </p>
        <p class="price"><i class="fa-solid fa-naira-sign"></i>810,000</p>
        <a
          href="https://wa.me/2348140980792?text=Hi%2C%20I%20want%20to%20order%20the%203kVA%20Solar%20Generator.%20My%20location%20is"
          class="btn btn-primary"
          target="_blank"
          >Order Now</a
        >
      </div>
    </div>
    <div class="product-card">
      <div class="product-img">
        <img
          src="{% static 'images/product-pc.webp' %}"
          alt="Dell Latitude"
        />
      </div>
      <div class="product-body">
        <h3>Dell Latitude</h3>
        <p>
          Intel Core i5 Laptop | 8GB RAM | 512GB SSD | Full HD Display
        </p>
        <p class="price"><i class="fa-solid fa-naira-sign"></i>510,000</p>
        <a
          href="https://wa.me/2348140980792?text=Hi%2C%20I%20want%20to%20order%20the%20Dell%20Latitude%20PC.%20My%20location%20is"
          class="btn btn-primary"
          target="_blank"
          >Order Now</a
        >
      </div>
    </div>
  </div>
  <a
    href="{% url 'products_in_drive' %}"
    target="_blank"
    class="btn btn-secondary"
    >Explore More</a
  >
</div>
{% endblock content %}
