{% extends "base.html" %} {% load static %} {% block content %}

<div class="products container-fluid solars">
  <div class="title">
    <h1>Solar Generator</h1>
    <p>
      Enjoy uninterrupted power with our Plug-and-Play Solar Generator System.
      Charges with NEPA, generator, or solar panels — no heavy installation
      needed. Portable. Reliable. Always ready.
    </p>
  </div>
  <div class="product-items">
    {% for product in products %}
    <div class="product-card">
      <div class="product-img">
        <img src="{% static product.image %}" alt="{{ product.product }}" />
      </div>
      <div class="product-body">
        <h3>{{ product.product }}</h3>
        <p>{{ product.description }}</p>
        <p class="price">
          <i class="fa-solid fa-naira-sign"></i>{{ product.price_preview }}
        </p>
        <a
          href="{% url 'solar_generator_details' product.id %}"
          class="btn btn-primary"
          >Details</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
  <a
    href="{% url 'products_in_drive' %}"
    target="_blank"
    class="btn btn-secondary"
    >Explore More</a
  >
</div>
{% endblock content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Onboard</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 40px auto;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 8px;
        padding: 30px;
      "
    >
      <img
        src="https://res.cloudinary.com/dskpdlvxu/image/upload/v1749486062/dadvantech-logo_bsqshr.png"
        alt="D'AdvanTech Logo"
        style="width: 50%; margin: 1rem auto; display: block"
      />
      <h1 style="color: #2c3e50; text-align: center">
        Still running your business or applying for jobs without basic digital
        skills?
      </h1>
      <p style="font-size: 16px; color: #333333">Dear Friend,</p>
      <p style="font-size: 16px; color: #333333">
        Whether you’re running a business or applying for jobs, you need to use
        tech properly—not just WhatsApp and Facebook.
      </p>

      <p style="font-size: 16px; color: #333333">If you can’t confidently:</p>

      <ul style="font-size: 16px; color: #333333; padding-left: 20px">
        <li
          style="
            color: #fff;
            padding: 10px 1rem;
            border-radius: 10px;
            text-decoration: none;
            margin: 16px 0;
            background-color: #ff7100;
            display: block;
          "
        >
          Write professional emails
        </li>
        <li
          style="
            color: #fff;
            padding: 10px 1rem;
            border-radius: 10px;
            text-decoration: none;
            margin: 16px 0;
            background-color: #ff7100;
            display: block;
          "
        >
          Create a proposal or invoice
        </li>
        <li
          style="
            color: #fff;
            padding: 10px 1rem;
            border-radius: 10px;
            text-decoration: none;
            margin: 16px 0;
            background-color: #ff7100;
            display: block;
          "
        >
          Join Zoom meetings or send documents
        </li>
        <li
          style="
            color: #fff;
            padding: 10px 1rem;
            border-radius: 10px;
            text-decoration: none;
            margin: 16px 0;
            background-color: #ff7100;
            display: block;
          "
        >
          Manage your files and online tools
        </li>
      </ul>

      <p style="font-size: 16px; color: #333333">
        You're at a disadvantage in today’s world.
      </p>
      <p style="font-size: 16px; color: #333333">
        That’s why I created a <strong>Digital Skills Training </strong>for
        business owners and job seekers.
      </p>

      <p style="font-size: 16px; color: #333333">
        You’ll learn everything you need to:
      </p>

      <ul style="font-size: 16px; color: #333333; padding-left: 20px">
        <li
          style="
            color: #fff;
            padding: 10px 1rem;
            border-radius: 10px;
            text-decoration: none;
            margin: 16px 0;
            background-color: #ff7100;
            display: block;
          "
        >
          Communicate and operate digitally
        </li>
        <li
          style="
            color: #fff;
            padding: 10px 1rem;
            border-radius: 10px;
            text-decoration: none;
            margin: 16px 0;
            background-color: #ff7100;
            display: block;
          "
        >
          Use the right tools to support your business or job search
        </li>
        <li
          style="
            color: #fff;
            padding: 10px 1rem;
            border-radius: 10px;
            text-decoration: none;
            margin: 16px 0;
            background-color: #ff7100;
            display: block;
          "
        >
          Stay secure and work smarter
        </li>
      </ul>

      <p style="font-size: 16px; color: #333333">
        If you have any questions, or simply want to say hi — feel free
        to reach out. We’re here to support you every step of the way!
      </p>

      <p style="font-size: 16px; color: #333333">
        Join our next live session and transform your digital confidence in just
        a few weeks.
      </p>

      <p>
        <a
          href="https://www.dadvantech.com/digital-literacy/"
          style="
            color: #fff;
            padding: 10px 1rem;
            border-radius: 10px;
            text-decoration: none;
            background-color: #ff7100;
          "
          >More Details</a
        >
      </p>

      <p style="font-size: 16px; color: #333333">
        Cheers,<br />The D'AdvanTech Team
      </p>
    </div>
  </body>
</html>
